<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wisdomrouter.app"
    android:installLocation="preferExternal">

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true" />

    <!-- Optional. Required for location feature -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_UPDATES" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 鍙€? -->
    <uses-permission android:name="android.permission.BROADCAST_PACKAGE_ADDED" />
    <uses-permission android:name="android.permission.BROADCAST_PACKAGE_CHANGED" />
    <uses-permission android:name="android.permission.BROADCAST_PACKAGE_INSTALL" />
    <uses-permission android:name="android.permission.BROADCAST_PACKAGE_REPLACED" />
    <!-- for log. -->

    <!--友盟相关权限 开始-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.SET_DEBUG_APP" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <!--友盟相关权限 结束-->


    <!-- Don't require camera, as this requires a rear camera. This allows it to work on the Nexus 7 -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.front"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.flash"
        android:required="false" />
    <uses-feature android:name="android.hardware.screen.landscape" />
    <uses-feature
        android:name="android.hardware.wifi"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />

    <application
        android:name=".HandApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <!-- 鍦ㄦ湰搴旂敤涓鍏ラ渶瑕佷娇鐢ㄧ殑鍖咃紝鏀惧湪application閲岄潰activity澶栭潰 -->
        <uses-library android:name="android.test.runner" />

        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppstartTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AdvActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        <activity
            android:name=".fragment.ui.VersionActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ActivityTitleBarStyle" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fragment.ui.RegActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ActivityTitleBarStyle" />
        <activity android:name=".fragment.SingleActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ActivityTitleBarStyle" />
        <activity
            android:name=".fragment.ui.VoteListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ActivityTitleBarStyle" />
        <activity
            android:name=".fragment.ui.VoteInformationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ActivityTitleBarStyle" />
        <activity
            android:name=".fragment.ui.BaoliaoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ActivityTitleBarStyle" />
        <activity
            android:name=".fragment.ui.CommentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fragment.ui.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ActivityTitleBarStyle" />
        <activity
            android:name=".fragment.ui.CountryListNewsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ActivityTitleBarStyle" />
        <activity
            android:name=".fragment.ui.CountryImageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ActivityTitleBarStyle" />
        <activity android:name=".fragment.ui.ProDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ActivityTitleBarStyle"/>

        <activity
            android:name=".fragment.ui.CountryDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ActivityTitleBarStyle" />

        <activity
            android:name=".fragment.ui.AgreeUsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ActivityTitleBarStyle" />
        <activity
            android:name=".fragment.ui.SelectColumnActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ActivityTitleBarStyle" />
        <activity
            android:name=".fragment.ui.MyCommentActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ActivityTitleBarStyle" />
        <activity
            android:name=".fragment.ui.ImviteActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ActivityTitleBarStyle" />
        <activity
            android:name=".fragment.ui.MybaoliaoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ActivityTitleBarStyle" />
        <activity
            android:name=".fragment.ui.BaoliaodetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ActivityTitleBarStyle" />
        <activity
            android:name=".fragment.ui.EventDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ActivityTitleBarStyle" />
        <activity
            android:name=".fragment.ui.ApplyActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ActivityTitleBarStyle" />
        <activity
            android:name=".fragment.ui.ProDetailListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ActivityTitleBarStyle" />
        <activity
            android:name=".fragment.ui.MyFavouriteActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ActivityTitleBarStyle" />
        <activity
            android:name=".fragment.ui.NewsArticleActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ActivityTitleBarStyle" />
        <activity
            android:name=".fragment.ui.PersonActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ActivityTitleBarStyle" />
        <activity
            android:name=".fragment.ui.RegisterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ActivityTitleBarStyle" />
        <activity
            android:name=".fragment.ui.ForgetActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ActivityTitleBarStyle" />
        <activity
            android:name=".fragment.ui.SearchActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fragment.ui.ImagePagerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fragment.ui.WebviewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ActivityTitleBarStyle" />
        <activity
            android:name=".view.image.ImageShowActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ActivityTitleBarStyle2" />
        <activity
            android:name=".fragment.ui.LoginAccessActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ActivityTitleBarStyle" />
        <activity
            android:name=".fragment.ui.LiveActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fragment.ui.PhotoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ActivityTitleBarStyle" />

        <service android:name=".services.NetChangeService" />

        <activity
            android:name=".fragment.ui.SettingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ActivityTitleBarStyle" />
        <activity
            android:name=".fragment.ui.HelpActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ActivityTitleBarStyle" />
        <activity android:name=".view.CropImageActivity" />
        <activity
            android:name=".fragment.ui.LoginbxActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ActivityTitleBarStyle" />
        <activity
            android:name=".fragment.ui.PhotoPickActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ActivityTitleBarStyle" />
        <activity
            android:name=".fragment.ui.VoteDetailNewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ActivityTitleBarStyle" />
        <activity
            android:name=".fragment.ui.ContentWebviewActivity"
            android:configChanges="orientation|keyboardHidden"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:theme="@style/ActivityTitleBarStyle" />
        <activity
            android:name=".fragment.ui.ArimagelistActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ActivityTitleBarStyle" />
        <activity
            android:name=".fragment.ui.MineActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ActivityTitleBarStyle" />
        <!--分享相关配置 开始-->

        <!--微信-->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!--QQ-->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent1104573104" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:configChanges="orientation|keyboardHidden|screenSize"/>

        <!--分享编辑页：-->
        <activity
            android:name="com.umeng.socialize.editorpage.ShareActivity"
            android:theme="@style/Theme.UMDefault"
            android:excludeFromRecents="true"
            />

        <!-- 添加友盟appkey-->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5860d689f29d9816b4000b41" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="Wandoujia" />
        <meta-data
            android:name="UMENG_MESSAGE_SECRET"
            android:value="a73949b0d72816d641056737b2da8350" />


        <service android:name=".services.NetChangeService" />

        <!-- 鍙嬬洘鎺ㄩ€佺浉鍏? -->
        <receiver
            android:name="com.umeng.message.NotificationProxyBroadcastReceiver"
            android:exported="false"
            android:process=":push" />
        <receiver
            android:name="com.umeng.message.SystemReceiver"
            android:process=":push">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.umeng.message.MessageReceiver"
            android:process=":push">
            <intent-filter>
                <action android:name="org.agoo.android.intent.action.RECEIVE" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.umeng.message.ElectionReceiver"
            android:process=":push">
            <intent-filter>
                <action android:name="org.agoo.android.intent.action.ELECTION_RESULT_V4" />

                <category android:name="umeng" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.umeng.message.RegistrationReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.wisdomrouter.app.intent.action.COMMAND" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.umeng.message.UmengMessageBootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.umeng.message.UmengService"
            android:exported="true"
            android:label="PushService"
            android:process=":push">
            <intent-filter>
                <action android:name="com.wisdomrouter.app.intent.action.START" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.wisdomrouter.app.intent.action.COCKROACH" />
            </intent-filter>
            <intent-filter>
                <action android:name="org.agoo.android.intent.action.PING_V4" />

                <category android:name="umeng" />
            </intent-filter>
        </service>

        <!-- <service -->
        <!-- android:name="com.squareup.leakcanary.internal.HeapAnalyzerService" -->
        <!-- android:enabled="false" -->
        <!-- android:process=":leakcanary" /> -->
        <!-- <service -->
        <!-- android:name="com.squareup.leakcanary.DisplayLeakService" -->
        <!-- android:enabled="false" /> -->

        <service
            android:name="com.umeng.message.UmengIntentService"
            android:process=":push" />
        <service
            android:name="com.umeng.message.UmengMessageIntentReceiverService"
            android:exported="true"
            android:process=":push">
            <intent-filter>
                <action android:name="org.android.agoo.client.MessageReceiverService" />
            </intent-filter>
            <intent-filter>
                <action android:name="org.android.agoo.client.ElectionReceiverService" />
            </intent-filter>
        </service>
        <!-- v2.4.1娣诲姞鐨凷ervice锛孶meng鐨勬秷鎭帴鏀跺悗鐨勫鐞嗘湇鍔? -->
        <service
            android:name="com.umeng.message.UmengMessageCallbackHandlerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.umeng.messge.registercallback.action" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.umeng.message.unregistercallback.action" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.umeng.message.message.handler.action" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.umeng.message.autoupdate.handler.action" />
            </intent-filter>
        </service>

        <!-- V1.3.0娣诲姞鐨剆ervice锛岃礋璐ｄ笅杞介€氱煡鐨勮祫婧? -->
        <service android:name="com.umeng.message.UmengDownloadResourceService" />



        <!--分享相关配置 结束-->
    </application>

</manifest>